# Backend
backend/__pycache__/
backend/*.pyc
backend/venv/
.env
.env.development

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db